<div class="dropdown" style="display: inline;">
    <i class="bi bi-funnel-fill ms-4 mb-2 btn" style="display: inline;" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>

    <ul class="dropdown-menu col-4">
      <form action="" method="post" class="ms-4">

        <h6>Priority</h6>
        <input type="checkbox" name="high" [ngModel]="priorityHigh['high']" (ngModelChange)="updatePriorityHigh($event)">
        <label>High</label>
        <input type="checkbox" name="medium" [ngModel]="priorityMedium['medium']" (ngModelChange)="updatePriorityMedium($event)">
        <label>Medium</label>
        <input type="checkbox"  name="low" [ngModel]="priorityLow['low']" (ngModelChange)="updatePriorityLow($event)">
        <label>Low</label>

        <h6>Preset</h6>
        <input type="radio" name="radio" value="1" [(ngModel)]="preset" >
        <label>1 hour</label> 
        <input type="radio" name="radio" value="2" [(ngModel)]="preset" >
        <label>2 hours</label> 
        <input type="radio" name="radio" value="4" [(ngModel)]="preset" >
        <label>4 hours</label><br> 
        <input type="radio" name="radio" value="6" [(ngModel)]="preset" >
        <label>6 hours</label> 
        <input type="radio" name="radio" value="8" [(ngModel)]="preset" >
        <label>8 hours</label> 
        <input type="radio" name="radio" value="12" [(ngModel)]="preset" >
        <label>12 hours</label> 
        <input type="radio" name="radio" value="24" [(ngModel)]="preset" >
        <label>24 hours</label> 

        <h6>Status</h6>
        <input type="checkbox" name="not_started" [ngModel]="statusNotStarted['not started']" (ngModelChange)="updateStatusNotStarted($event)">
        <label>Not Started</label>
        <input type="checkbox" name="on_hold" [ngModel]="statusOnHold['on hold']" (ngModelChange)="updateStatusOnHold($event)">
        <label>On Hold</label><br>
        <input type="checkbox" name="in_progress" [ngModel]="statusInProgress['in progress']" (ngModelChange)="updateStatusInProgress($event)">
        <label>In Progress</label>
        <input type="checkbox" name="completed" [ngModel]="statusCompleted['completed']" (ngModelChange)="updateStatusCompleted($event)">
        <label>Completed</label><br>
        <input type="checkbox" name="over due" [ngModel]="statusOverdue['over due']" (ngModelChange)="updateStatusOverdue($event)">
        <label>Overdue</label><br>
    
        <button class="btn btn-primary" (click)="onClickApply()" >Apply</button>
        <button class="btn btn-primary ms-1" (click)="onClickReset();">Reset</button>

       </form>
    </ul>
</div>


